---
import Navbar from '../components/top-navigation.astro';
import Scripts from '../components/scripts.astro';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <script src="https://accounts.google.com/gsi/client" async defer is:inline></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.js" is:inline></script>
    <script is:inline>
        window.onload = function() {
            google.accounts.id.initialize({
                client_id: "279300080587-tto1b5n902bqem9lsg6vtqah0giqaa5a.apps.googleusercontent.com",
                callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
                document.getElementById("login"),
                { theme: "outline", size: "large"}
            );
        }

        function handleCredentialResponse(response) {
            var userData = jwt_decode(response.credential);
            console.log(userData);
            fetch("http://127.0.0.1:8080/googleSignIn", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({"credential": response.credential, "userEmail": userData.email})
            })
            .then((res) => {
                if(res.ok) {
                    return res.json();
                }
                else {
                    alert("You haven't registered with Google yet.");
                    if(confirm("Would you like to register with your Google account?") == true) {
                        var user = new Object();
                        user.username = userData.name;
                        user.userEmail = userData.email;
                        user.password = null; 
                        sessionStorage.setItem("register_user_obj_str", JSON.stringify(user));
                        window.location.href = "personalDetails.html";
                    }
                    throw "Cannot sign in with Google.";
                }
            })
            .then((token) => {
                localStorage.setItem("login_userId", token.userId);
                localStorage.setItem("token", token.result);
                window.location.href = "../index.html";
            })
            .catch((error) => {
                console.error("Error:", error);
            });
        }
    </script>
</head>
<body>
    <Navbar></Navbar>
    <div class="container-fluid login-container row">
        <div class="col-md-8"></div>
        <div class="col-md-4 card login-card mb-5 border-dark">
            <img src="images/websiteImages/Login.png" alt="LOGIN" width="80px" height="30px" class="mx-auto my-4">
            <input type="text" placeholder="Username" id="loginUsername" class="form-control mb-3" required>
            <input type="password" placeholder="Password" id="loginPassword" class="form-control mb-2" required>
            <a href="resetPw.html" class="ml-auto mb-3">Forgot password?</a>
            <button class="btn bg-warning text-white mx-auto border-0 py-2 px-3 rounded" onclick="loginUser()">Login</button>
            <span class="mt-2">___________________________ <span style="position: relative; top:5px">OR</span> __________________________</span>
            <div class="mx-auto mt-4">
                <div id="login"></div>
            </div>
            <div class="mt-5 mx-auto">Don't have an account? <a href="registration.html">Register now.</a></div>
        </div>
    </div>
</body>
<Scripts></Scripts>
<script>
    loginStatus();
    changeActiveNavItem("Login");
</script>
<script src="/js/app.js" is:inline></script>
<script src="/js/users.js" is:inline></script>
</html>