---
import Navbar from '../components/top-navigation.astro';
import Scripts from '../components/scripts.astro';
import Head from '../components/head.astro';
---

<html lang="en">
<Head title="Personal Details"></Head>
<body onload="passNameAndPw()">
    <Navbar></Navbar>
    <div class="container-fluid row personalDetailsContainer" style="background-color: #F8F8F8;">
        <form id="registerForm" class="col-md-11 mx-auto mb-4 card rounded" enctype="multipart/form-data">
            <h5 class="text-center mt-3">Personal details</h5>
            <div class="row mt-4">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <img src="images/websiteImages/Group 111.png" alt="Profile picture upload" width="110px" height="110px" id="profilePreview" style="border: 1px solid #707070; border-radius: 50%; object-fit: cover;">
                    <br>
                    <input type="file" name="userPhoto" id="profilePreviewBtn" class="my-3" accept="image/*" required onchange="previewImg(this, event)">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <input type="password" name="password" id="passwordDetail" hidden>
                    <input type="text" id="userNameDetail" name="userName" placeholder="Username" class="form-control mb-4" required>
                    <input type="email" id="emailDetail" name="userEmail" placeholder="Email address" class="form-control mb-4" required>
                    <input type="text" id="contactDetail" name="userContact" placeholder="Mobile number" class="form-control mb-4" required>
                    <div class="mb-4">
                        Gender: <input type="radio" name="userGender" id="rdoMale" value="Male" required checked> Male
                        <input type="radio" name="userGender" id="rdoFemale" value="Female" required> Female
                    </div>
                    <textarea name="userBio" id="userBio" cols="30" rows="3" style="resize: none;" placeholder="Bio" class="form-control mb-4" required></textarea>
                    <div class="text-center"><input type="submit" class="btn bg-warning rounded text-white px-3 py-1" value="Submit"></div>
                </div>
            </div>
        </form>
    </div>
</body>
<Scripts></Scripts>
<script is:inline>
    loginStatus();
    changeActiveNavItem("Register");
    var registrationForm = document.getElementById("registerForm");
    registrationForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const data = new FormData(registrationForm);
        fetch('http://127.0.0.1:8080/register', {
            method: "POST",
            body: data,
        })
        .then((res) => {
            if(res.ok) {
                return res.json();
            }
            throw new Error("Something went wrong");
        })
        .then((jsonData) => {
            console.log(jsonData);
            sessionStorage.removeItem("register_user_obj_str");
            alert('Register is successful. Please login in the following screen.');
            window.location.href = "/login.html";
        })
        .catch((err) => { console.log(err) } );
    });
</script>
<script src="/js/users.js" is:inline></script>
</html>