---
import Navbar from '../components/top-navigation.astro';
import Head from '../components/head.astro';
import Scripts from '../components/scripts.astro';
import NewReviewsModal from '../components/new-reviews-modal.astro';
import EditReviewsModal from '../components/edit-reviews-modal.astro';
---

<html lang="en">
<head>
    <Head title="Reviews"></Head>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>
<body style="background-color: #F8F8F8;">
    <Navbar></Navbar>
    <div class="container-fluid reviews-container">
        <div id="restaurantCard" class="card">
            <button style="background-color: #F99EBF; width: 170px; z-index: 1; position:absolute; top: 40px; right: 30px; height: 35px;" class="border-0 text-white rounded" onclick="addToFavourites()">
                <i id="addToFav" style="color: white;" class="fa-solid fa-heart"></i> Add to favourites 
            </button>
            <div id="restaurantDetails"></div>
        </div>
        <div id="reviewBody" class="card my-4">
            <div class="row">
                <div class="col-md-2">
                    <h5 id="review" style="font-weight: bold; position: absolute; top: 22px; left:40px">Reviews</h5>
                </div>
                <div class="col-md-8 text-right mt-3">
                    <label for="sort" style="display: inline;">Sort by: &nbsp; </label>
                    <select name="sortReviews" id="sortReviews" style="color: #707070; width: 150px; display: inline" class="form-control" onchange="fetchReviews()">
                        <option value="None" selected disabled hidden>Date or rating</option>
                        <option value="Oldest">Oldest</option>
                        <option value="Most recent">Most recent</option>
                        <option value="Best rating">Best rating</option>
                        <option value="Worst rating">Worst rating</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <span style="float: right;" class="px-4 pt-3"><button type="button" class="btn btn-warning text-white" id="newReview" data-toggle="modal" data-target="#newReviewModal" data-dismiss="modal">Post a review</button>
                    </span>
                </div>
            </div>
            <hr>
            <div id="reviewContent"></div>
        </div>
    </div>
    <NewReviewsModal></NewReviewsModal>
    <EditReviewsModal></EditReviewsModal>
</body>
<Scripts></Scripts>
<script is:inline>
    window.addEventListener("load", fetchReviews);
    loginStatus();
    changeActiveNavItem("Explore");
    function postReview() {
        if(localStorage.getItem("token") == null) {
            alert("Please login first to post review.");
            window.location.href = "./login.html";
        }
    }
    document.getElementById("newReview").addEventListener("click", postReview);
</script>
</html>