<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand ml-5" href="#">
        <img src="images/websiteImages/Group 7.png" width="150" height="45" class="d-inline-block" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active" id="Home">
                <a class="nav-link" href="./index.html">Home</a>
            </li>
            <li class="nav-item" id="Explore">
                <a class="nav-link" href="./explore.html">Explore</a>
            </li>
            <li class="nav-item" id="Contact">
                <a class="nav-link" href="contactUs.html">Contact us</a>
            </li>
            <li class="nav-item" id="Register">
                <a class="nav-link" href="registration.html">Register</a> / 
            </li>
            <li class="nav-item" id="Login">
                <a class="nav-link" href="login.html">Login</a> 
            </li>
            <li class="nav-item" id="Profile">
                <a class="nav-link" href="profile.html">Profile</a> 
            </li>
            <li class="nav-item" id="Logout">
                <a class="nav-link" href="javascript:void(0)" onclick="logoutUser()">Logout</a>
            </li>
        </ul>
    </div>
</nav>